
/* CUSTOM STYLING FOR VISUAL COMPOSER
   ========================================================================== */

#visual_composer_content {
	padding: 0;
	}
.vc_row {
	margin: 0;
	}
.wpb_vc_row,
.wpb_vc_row_inner {
	position: relative;
	}
.vc_collapsed-row {
	height: 24px;
	margin-bottom: 2px;
	overflow: hidden;
	}
.wpb_vc_row > .controls_row {
	background-color: #999;
	line-height: 0;
	}
.wpb_vc_row_inner > .controls_row {
	background-color: #e6e6e6;
	}
	.controls_row a.vc_control {
		border-radius: 0;
		margin: 0;
		background-color: transparent;
		-webkit-transition: background-color 0.5s;
				transition: background-color 0.5s;
		}
	.wpb_vc_row > .controls > .column_move,
	.wpb_vc_row_inner > .controls > .column_move {
		background: none !important;
		border-radius: 0;
		}
	.controls_row .vc_row_layouts {
		margin: 0;
		border-radius: 0;
		}
		.controls_row .vc_control-set-column.custom_columns {
			background: none !important;
			}
	.wpb_vc_row > .controls_row .vc_icon {
		background-position: 0 0;
		}
	.wpb_vc_row > .controls_row .vc_control.column_add .vc_icon {
		background-position: 0 -16px;
		}
	.wpb_vc_row > .controls_row .vc_control.column_edit .vc_icon {
		background-position: 0 -32px;
		}
	.wpb_vc_row > .controls_row .vc_control.column_clone .vc_icon {
		background-position: 0 -48px;
		}
	.wpb_vc_row > .controls_row .vc_control.column_delete .vc_icon {
		background-position: 0 -64px;
		}
	.wpb_vc_row > .controls_row .vc_control.column_toggle .vc_icon {
		background-position: 0 -96px;
		}
	.wpb_vc_row > .vc_collapsed-row > .controls .column_toggle .vc_icon {
		background-position: 0 -112px;
		}
		.wpb_vc_row > .controls_row a.vc_control:hover,
		.wpb_vc_row > .controls > .column_move:hover {
			background-color: rgba(0,0,0,0.25);
			}
		.wpb_vc_row_inner > .controls_row a.vc_control:hover,
		.wpb_vc_row_inner > .controls > .column_move:hover {
			background-color: rgba(0,0,0,0.1);
			}
		.wpb_vc_row > .controls .column_delete:hover {
			background-color: #f44 !important;
			}
		.vc_control:hover .vc_icon {
			opacity: 1;
			}
			
.wpb_row_container > .wpb_vc_column,
.wpb_row_container > .wpb_vc_column_inner {
	margin: 0;
	padding: 0;
	border-left: 1px dotted #ccc;
	}
.wpb_row_container > .wpb_vc_column:first-child,
.wpb_row_container > .wpb_vc_column_inner:first-child {
	border-left: none;
	}
	.vc_controls {
		font-size: 0;
		padding: 0 !important;
		}
		.vc_shortcodes_container > .vc_controls .vc_control,
		.wpb_row_container > .wpb_vc_column > .vc_controls .vc_control,
		.wpb_row_container > .wpb_vc_column_inner > .vc_controls .vc_control {
			border: none;
			height: 18px;
			width: 30px;
			margin: 0;
			padding: 3px 0 !important;
			border-radius: 0;
			opacity: 0;
			-webkit-transition: background-color 0.5s, opacity 0.5s;
					transition: background-color 0.5s, opacity 0.5s;
			}
		.vc_shortcodes_container:hover > .vc_controls .vc_control,
		.wpb_row_container > .wpb_vc_column:hover > .vc_controls .vc_control,
		.wpb_row_container > .wpb_vc_column_inner:hover > .vc_controls .vc_control {
			opacity: 1;
			}
		.vc_shortcodes_container > .vc_controls .vc_control:hover,
		.wpb_row_container > .wpb_vc_column > .vc_controls .vc_control:hover,
		.wpb_row_container > .wpb_vc_column_inner > .vc_controls .vc_control:hover {
			background-color: rgba(0,0,0,0.08);
			}
			
.wpb_content_element {
	background: none !important;
	}
	.wpb_content_element > .wpb_element_wrapper {
		box-shadow: 0 1px 0 rgba(0,0,0,0.05);
		}
		.wpb_vc_tab .wpb_content_element > .wpb_element_wrapper,
		.wpb_vc_accordion_tab .wpb_content_element > .wpb_element_wrapper,
		.wpb_vc_column_inner .wpb_content_element > .wpb_element_wrapper {
			box-shadow: none;
			}
.wpb_content_element,
.wpb_vc_row_inner,
.wpb_vc_row_inner.wpb_sortable {
	margin: 1px 0 0;
	}
	.wpb_content_element:first-child,
	.wpb_vc_row_inner:first-child {
		margin: 0;
		}
.wpb_row_container > .wpb_vc_column_inner > .wpb_element_wrapper,
.wpb_content_element .ui-tabs .ui-tabs-panel.wpb_vc_tab > .wpb_element_wrapper > .wpb_column_container .wpb_vc_column_inner > .wpb_element_wrapper {
	padding: 0 14px;
	}
.vc_empty-container {
	min-height: 60px;
	}
	
/* Appearance of Separator element */
.wpb_us_separator > .wpb_element_wrapper {
	padding: 0;
	box-shadow: none;
	text-align: center;
	background: url(data:image/gif;base64,R0lGODlhAgAFAPABANbW1v///yH/C1hNUCBEYXRhWE1QAz94cAAh+QQFAAABACwAAAAAAgAFAAACBERuGAUAOw==) repeat-x center #f5f5f5;
	}
	.wpb_us_separator .wpb_element_title {
		display: none;
		}
	.wpb_us_separator .textfield {
		display: inline-block;
		vertical-align: top;
		font-size: 11px;
		line-height: 33px;
		padding: 0 10px;
		background-color: #f5f5f5;
		}
	.wpb_vc_row_inner .wpb_us_separator .textfield,
	.wpb_vc_row_inner .wpb_us_separator > .wpb_element_wrapper,
	.wpb_vc_tab .wpb_us_separator > .wpb_element_wrapper,
	.wpb_vc_tab .wpb_us_separator .textfield,
	.wpb_vc_accordion_tab .wpb_us_separator > .wpb_element_wrapper,
	.wpb_vc_accordion_tab .wpb_us_separator .textfield {
		background-color: #fff;
		}
	
/* Improving appearance for Text Block element */
#visual_composer_content .wpb_vc_column_text h1,
#visual_composer_content .wpb_vc_column_text h2,
#visual_composer_content .wpb_vc_column_text h3,
#visual_composer_content .wpb_vc_column_text h4,
#visual_composer_content .wpb_vc_column_text h5,
#visual_composer_content .wpb_vc_column_text h6 {
	font-weight: normal;
	line-height: 1.2em;
	padding: 0;
	margin-top: 0;
	margin-bottom: 0.6em;
	border: none;
	color: #444;
	}
	#visual_composer_content .wpb_vc_column_text h1:last-child,
	#visual_composer_content .wpb_vc_column_text h2:last-child,
	#visual_composer_content .wpb_vc_column_text h3:last-child,
	#visual_composer_content .wpb_vc_column_text h4:last-child,
	#visual_composer_content .wpb_vc_column_text h5:last-child,
	#visual_composer_content .wpb_vc_column_text h6:last-child {
		margin: 0;
		}
#visual_composer_content .wpb_vc_column_text h1 {
	font-size: 2.2em;
	}
#visual_composer_content .wpb_vc_column_text h2 {
	font-size: 2em;
	}
#visual_composer_content .wpb_vc_column_text h3 {
	font-size: 1.8em;
	}
#visual_composer_content .wpb_vc_column_text h4 {
	font-size: 1.6em;
	}
#visual_composer_content .wpb_vc_column_text h5 {
	font-size: 1.4em;
	}
#visual_composer_content .wpb_vc_column_text h6 {
	font-size: 1.2em;
	}
	
/* Custom icons for elements */
#us_portfolio .icon-wpb-ui-separator-label {
	background-position: 0 -32px;
	}
	.wpb_us_portfolio.wpb_content_element .vc_element-icon {
		background-position: 0 -32px;
		}
#us_social_links .icon-wpb-ui-separator {
	background-position: 0 -96px;
	}
	.wpb_us_social_links.wpb_content_element .vc_element-icon {
		background-position: 0 -96px;
		}
#us_video .icon-wpb-film-youtube {
	background-position: 0 -160px;
	}
	.wpb_us_video.wpb_content_element .vc_element-icon {
		background-position: 0 -160px;
		}
#us_blog .icon-wpb-ui-separator-label,
#us_latest_posts .icon-wpb-ui-separator-label {
	background-position: 0 -384px;
	}
	.wpb_us_blog.wpb_content_element .vc_element-icon,
	.wpb_vc_latest_posts.wpb_content_element .vc_element-icon {
		background-position: 0 -384px;
		}
#us_cta .icon-wpb-ui-separator-label {
	background-position: 0 -704px;
	}
	.wpb_us_cta.wpb_content_element .vc_element-icon {
		background-position: 0 -704px;
		}
#us_simple_slider .icon-wpb-images-stack {
	background-position: 0 -1056px;
	}
	.wpb_us_simple_slider.wpb_content_element .vc_element-icon {
		background-position: 0 -1056px;
		}
#us_iconbox .icon-wpb-ui-separator-label {
	background: url(../img/vc_elements.png) 0 0;
	}
	.wpb_us_iconbox.wpb_content_element .vc_element-icon {
		background: url(../img/vc_elements.png) 0 0;
		}
#us_logos .icon-wpb-ui-separator-label {
	background: url(../img/vc_elements.png) 0 -32px;
	}
	.wpb_us_logos.wpb_content_element .vc_element-icon {
		background: url(../img/vc_elements.png) 0 -32px;
		}
#us_testimonial .icon-wpb-ui-separator-label {
	background: url(../img/vc_elements.png) 0 -64px;
	}
	.wpb_us_testimonial.wpb_content_element .vc_element-icon {
		background: url(../img/vc_elements.png) 0 -64px;
		}
#us_counter .icon-wpb-ui-separator {
	background: url(../img/vc_elements.png) 0 -96px;
	}
	.wpb_us_counter.wpb_content_element .vc_element-icon {
		background: url(../img/vc_elements.png) 0 -96px;
		}
	.wpb_us_counter .wpb_vc_param_value.target {
		margin-right: 3px;
		}
#us_person .icon-wpb-ui-separator-label {
	background: url(../img/vc_elements.png) 0 -128px;
	}
	.wpb_us_person.wpb_content_element .vc_element-icon {
		background: url(../img/vc_elements.png) 0 -128px;
		}
#us_contacts .icon-wpb-ui-separator {
	background: url(../img/vc_elements.png) 0 -160px;
	}
	.wpb_us_contacts.wpb_content_element .vc_element-icon {
		background: url(../img/vc_elements.png) 0 -160px;
		}
#us_cform .icon-wpb-ui-separator {
	background: url(../img/vc_elements.png) 0 -192px;
	}
	.wpb_us_cform.wpb_content_element .vc_element-icon {
		background: url(../img/vc_elements.png) 0 -192px;
		}
#us_message .vc_element-icon {
	background: url(../img/vc_elements.png) 0 -224px;
	}
	.wpb_us_message.wpb_content_element .vc_element-icon {
		background: url(../img/vc_elements.png) 0 -224px;
		}
#us_pricing .vc_element-icon {
	background: url(../img/vc_elements.png) 0 -256px;
	}
	.wpb_us_pricing.wpb_content_element .vc_element-icon {
		background: url(../img/vc_elements.png) 0 -256px;
		}
#us_sharing .vc_element-icon {
	background: url(../img/vc_elements.png) 0 -288px;
	}
	.wpb_us_sharing.wpb_content_element .vc_element-icon {
		background: url(../img/vc_elements.png) 0 -288px;
		}
#us_progbar .vc_element-icon {
	background: url(../img/vc_elements.png) 0 -320px;
	}
	.wpb_us_progbar.wpb_content_element .vc_element-icon {
		background: url(../img/vc_elements.png) 0 -320px;
		}
#vc_icon .icon-wpb-ui-separator-label {
	background-position: 0 -1312px;
	}
	.wpb_vc_icon.wpb_content_element .vc_element-icon {
		background-position: 0 -1312px;
		}
		
/* Improving appearance for elements settings window */
.vc_ui-panel-content {
	padding-top: 5px;
	}
.wpb_edit_form_elements .vc_column:first-child {
	padding-top: 15px;
	}
.wpb_edit_form_elements textarea,
.wpb_edit_form_elements input[type="text"],
.wpb_edit_form_elements input[type="password"],
.wpb_edit_form_elements input[type="file"],
.wpb_edit_form_elements input[type="email"],
.wpb_edit_form_elements input[type="number"],
.wpb_edit_form_elements input[type="search"],
.wpb_edit_form_elements input[type="tel"],
.wpb_edit_form_elements input[type="url"],
.wpb_edit_form_elements select {
	background-color: #f5f5f5;
	box-shadow: none;
	}
.wpb_edit_form_elements input[type="text"],
.wpb_edit_form_elements input[type="password"],
.wpb_edit_form_elements input[type="file"],
.wpb_edit_form_elements input[type="email"],
.wpb_edit_form_elements input[type="number"],
.wpb_edit_form_elements input[type="search"],
.wpb_edit_form_elements input[type="tel"],
.wpb_edit_form_elements input[type="url"] {
	height: 38px;
	}
.vc_description {
	margin-top: 4px;
	font-size: 13px;
	}	
.vc_column.wpb_el_type_colorpicker {
	width: 50%;
	}
.vc_css-editor .vc_col-xs-7 {
	padding-left: 0;
	width: 62%;
	}
.vc_css-editor .vc_col-xs-5 {
	padding-right: 0;
	width: 38%;
	}
.vc_css-editor .vc_layout-onion input {
	height: 24px !important;
	}
	
/* Improving appearance for Progress Bar element */
.wpb_us_progbar .wpb_vc_param_value.title {
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
	}

/* Improving appearance for Message Box element */
.wpb_us_message .alert {
	border: none !important;
	}
.wpb_us_message .alert.info,
.wpb-select option.info {
	background-color: #cef;
	color: #3a648e;
	}
.wpb_us_message .alert.attention,
.wpb-select option.attention {
	background-color: #fff2b2;
	color: #846534;
	}
.wpb_us_message .alert.success,
.wpb-select option.success {
	background-color: #c9f7b2;
	color: #587549;
	}
.wpb_us_message .alert.error,
.wpb-select option.error {
	background-color: #ffd9d9;
	color: #a24141;
	}
.wpb_us_message div.error {
	margin: 0;
	}
	
/* Fixing appearance of inner parameters */
.vc_settings .vc_param .vc_controls {
	background-color: #e6e6e6;
	}
.wpb_edit_form_elements .vc_param_group-wrapper textarea,
.wpb_edit_form_elements .vc_param_group-wrapper input,
.wpb_edit_form_elements .vc_param_group-wrapper select {
	background-color: #fff;
	}
	
/* Fixing appearance of dropdown options */
.wpb-select.fade,
.wpb-select option.fade {
	opacity: 1 !important;
	}	
.wpb-select option.alternate {
	background-color: #f5f5f5 !important;
	}
div[data-title="Edit Message Box"] .wpb-select.color {
	background-color: #f5f5f5 !important;
	border-color: #ddd !important;
	color: #222 !important;
	}
.wpb-select option.red {
	background-color: #f40;
	color: #fff;
	}
.wpb-select option.blue {
	background-color: #5ac8ed;
	color: #fff;
	}
.wpb-select option.green {
	background-color: #59ba41;
	color: #fff;
	}
.wpb-select option.yellow {
	background-color: #fac000;
	color: #fff;
	}
.wpb-select option.midnight {
	background-color: #2c3e50;
	color: #fff;
	}
.wpb-select option.purple {
	background-color: #8560a8;
	color: #fff;
	}
.wpb-select option.pink {
	background-color: #ff6b93;
	color: #fff;
	}
.wpb-select option.navy {
	background-color: #1265a8;
	color: #fff;
	}
.wpb-select option.teal {
	background-color: #008b83;
	color: #fff;
	}
.wpb-select option.brown {
	background-color: #6a4530;
	color: #fff;
	}
.wpb-select option.cream {
	background-color: #f5ddbf;
	color: #3d3934;
	}
.wpb-select option.lime {
	background-color: #baeb59;
	color: #323629;
	}
	
/* Fixing appearance of textarea for Google Maps Settings */
.vc_edit_form_elements .pretend_textfield .textarea_raw_html {
	font-size: inherit;
	color: inherit;
	word-break: normal;
	resize: vertical;
	height: 100px;
	}
	
/* Fixing appearance of Columns option dropdown */
.vc_shortcode-param .wpb-input.columns {
	min-height: 0;
	width: 100%;
	}
	
/* Removing duplicating Design Options for Row Settings */
.vc_ui-panel-window[data-vc-shortcode="vc_row"] .wpb_el_type_css_editor .vc_border-radius + label,
.vc_ui-panel-window[data-vc-shortcode="vc_row"] .wpb_el_type_css_editor .vc_border-radius ~ .color-group,
.vc_ui-panel-window[data-vc-shortcode="vc_row"] .wpb_el_type_css_editor .vc_background-image,
.vc_ui-panel-window[data-vc-shortcode="vc_row"] .wpb_el_type_css_editor .vc_background-style {
	display: none;
	}
	
/* Fixing UI for ActionBox Settings */
.vc_column.us_vc_checkbox_lineheight {
	margin-top: 25px;
	}
.vc_column.newline {
	clear: left;
	}
	
/* Removing non-working options for Column Settings */
.vc_column-offset-table > tbody > tr > *:nth-child(2),
.vc_column-offset-table > tbody > tr > *:nth-child(3),
.vc_wrapper-param-type-column_offset .vc_description,
.vc_ui-panel-window[data-vc-shortcode="vc_column"] .wpb-select.width option:nth-child(1),
.vc_ui-panel-window[data-vc-shortcode="vc_column"] .wpb-select.width option:nth-child(5),
.vc_ui-panel-window[data-vc-shortcode="vc_column"] .wpb-select.width option:nth-child(7),
.vc_ui-panel-window[data-vc-shortcode="vc_column"] .wpb-select.width option:nth-child(11),
.vc_ui-panel-window[data-vc-shortcode="vc_column_inner"] .wpb-select.width option:nth-child(1),
.vc_ui-panel-window[data-vc-shortcode="vc_column_inner"] .wpb-select.width option:nth-child(5),
.vc_ui-panel-window[data-vc-shortcode="vc_column_inner"] .wpb-select.width option:nth-child(7),
.vc_ui-panel-window[data-vc-shortcode="vc_column_inner"] .wpb-select.width option:nth-child(11) {
	display: none;
	}

/* vc_column_text: Fixing animation label that will still be present even after the animation param is actually removed */
.wpb_vc_column_text .admin_label_css_animation {
	display: none !important;
	}
	
/* Fixing invisible message box of Ultimate Addons */
.wrap > .fade {
	opacity: 1;
	}
	
/* Fixing row background status label of Ultimate Addons */
.vc_admin_label.admin_label_bg_type {
	position: absolute;
	right: 170px;
	top: 0;
	z-index: 11;
	line-height: 24px;
	color: #ddd;
	}
	
/* Fixing style of Person description */
.wpb_us_person .wpb_vc_param_value.content {
	font-size: 11px;
	font-style: italic;
	line-height: 16px;
	margin-top: 5px;
	color: #999;
	}
	
/* Fixing colorpicker width of Separator element */
.vc_ui-panel-window[data-vc-shortcode="us_separator"] .vc_column.wpb_el_type_colorpicker {
	width: 100%;
	}

/* Selected image instead of icon at some element's backend editor */
.vc_element-icon.attachment-thumbnail[src] {
	background-image: none !important;
	}
	
/* Remove background value of Ultimate Addons when it is disabled */
.wpb_vc_param_value.colorpicker {
	display: none;
	}
	
/* Fixing "Random Order" checkbox */
.vc_properties-list input[type="checkbox"].orderby {
	float: none;
	min-height: 0;
	margin-top: 0;
	margin-bottom: 0;
	}
