/*

Theme Name: X &ndash; Child Theme
Theme URI: http://theme.co/x/
Author: Themeco
Author URI: http://theme.co/
Description: Make all of your modifications to X in this child theme.
Version: 1.0.0
Template: x

*/

@import url(http://fonts.googleapis.com/earlyaccess/opensanshebrew.css);

h1, h2, h3, h4, h5, h6, body, a, .wpcf7 select, .wpcf7 textarea, .wpcf7 input[type="text"], .wpcf7 input[type="password"], .wpcf7 input[type="datetime"], .wpcf7 input[type="datetime-local"], .wpcf7 input[type="date"], .wpcf7 input[type="month"], .wpcf7 input[type="time"], .wpcf7 input[type="week"], .wpcf7 input[type="number"], .wpcf7 input[type="email"], .wpcf7 input[type="url"], .wpcf7 input[type="search"], .wpcf7 input[type="tel"], .wpcf7 input[type="color"], .wpcf7 input[type="submit"], .rev-text, .x-subscribe-form input[type="text"], .x-subscribe-form input[type="email"], .x-subscribe-form input[type="submit"], .search-query, .button, [type="submit"], .job_filters .search_jobs input, input.em-events-search-text.em-search-text, input.em-search-geo {
  font-family: 'Open Sans Hebrew', sans-serif !important;
}

/*Custom CSS*/

.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 300 !important;
}

a:hover {
    color: #92191c !important;
}

.topbar-social i {
    float: left;
    font-size: 16px;
    padding-right: 10px;
    line-height: 32px;
}

.x-btn.x-btn-transparent:hover {
    color: #ffffff !important;
    border-color: #600900 !important;
    background-color: #7c1518 !important;
    box-shadow: none !important;
}

a.x-btn.x-btn-transparent.x-btn-pill.x-btn-large {
    padding: 1.02%;
    line-height: 1;
}

.x-subscribe-form input[type="submit"]:hover {
    color: #ffffff !important;
    border-color: #600900 !important;
    background-color: #7c1518 !important;
    box-shadow: none !important;
}

.search .top_banner_wrap .main_banner_wrap {
    display: none;
}

.search .main_banner_wrap {
    display: none;
}

.x-colophon.top {
    padding: 2.5% 0 6.25%;
    background-color: #eeeeee;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}

.x-colophon.bottom {
    padding: 1.4% 0;
}

.x-colophon .widget ul li {
    background-color: inherit;
}

a.dkpdf-button {
    display: block !important;
    border: 1px solid;
    border-radius: 50px;
    text-align: center;
    height: 45px;
    padding-top: 1px;
    font-size: 15px;
}

.x-slider-scroll-bottom {
    border: 2px solid;
    font-size: 28px;
    line-height: 55px;
}

.x-navbar {
    font-size: 17px;
    border-bottom: 3px double #dbdbdb;
}

.x-navbar .desktop .x-nav > li.current-menu-item > a > span {
    box-shadow: none !important; 
    border-bottom: 3px double #7c1518;
}

.x-navbar .desktop .x-nav > li.menu-item > a > span:hover {
    box-shadow: none !important; 
    border-bottom: 3px double #7c1518;
}

.x-navbar .desktop .x-nav > li > a:hover > span {
    box-shadow: none !important;
}

.x-navbar .desktop .x-nav>li>a>span {
    padding: 0 0 51px;
}

.rtl .x-navbar .x-nav li>a>span:after {
    margin-left: 0;
    margin-right: 7px;
    float: left;
    line-height: 0.6;
}

.x-navbar .desktop .x-nav li>a>span:after {
    content: "\f0dd";
    margin-left: 0.35em;
    font-family: "FontAwesome" !important;
    font-style: normal !important;
    font-weight: normal !important;
    text-decoration: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2.h-custom-headline.mtn.sector-headline.h4 {
    margin-bottom: 8%;
    color: #272932;
}

.homepage-img img {
    width: 300px;
    height: 200px;
}

@media screen and (min-width: 1024px) {
    .home-rows .x-column.x-1-3 {
    width: 26.66666%;
    }
    .home-rows .x-column:last-of-type {
        margin-right: 0;
    }
    .home-rows .x-column {
        margin-right: 10%;
    }
}

.x-navbar-fixed-top-active .desktop .x-nav .x-megamenu>.sub-menu {
    padding: 0px 18px 18px;
    left: 0;
    right: 0;
    border: 1px solid #dbdbdb;
    border-top: 0;
    top: 123px;
}

.desktop .x-nav .x-megamenu>.sub-menu>li {
    float: right;
    padding: 18px;
}

.reg-menu >.sub-menu {
    padding: 18px 18px 18px;
    left: -60px !important;
    right: 0;
    border: 1px solid #dbdbdb;
    border-top: 0;
    top: 123px !important;
    min-width: 200px;
}

.desktop .sub-menu li:before {
  height: 0px;
}

.desktop .sub-menu li:after {
    display: none;
}

.widget_nav_menu ul {
    border-color: #dbdbdb;
}

.widget_nav_menu ul>li {
    border-color: #dbdbdb;
    padding: 5px;
}

.widget_nav_menu ul>li:hover {
    border-color: #dbdbdb;
    padding: 5px;
    background-color: #f4f4f4;
}

.widget_nav_menu ul>li:after {
    content: '\f177';
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin: 0px 0px 0px 0px;
    text-decoration: none;
    float: left;
    line-height: 2.8;
}

.rtl .widget_nav_menu .current-menu-item {
    font-weight: bold;
}

.widget_nav_menu .current-menu-item>a:after {
    display: none;
}



/*footer widget width*/

@media screen and (min-width: 1024px) {
.x-colophon.top .x-column:nth-child(1),
.x-colophon.top .x-column:nth-child(2){
    width: 15%;
}
.x-colophon.top .x-column:nth-child(3){
    width: 62%;
}
}

/*Homepage news&events*/

.listing-item {
    margin-bottom: 20px;
}

.listing-item a.title {
    font-size: 18px;
    display: block;
    margin-bottom: 0px;
}

.listing-item span.date {
    display: block;
}

.listing-item .excerpt-dash {
    display: none;
}

/*footer logo and social*/

.footer-extra {
    margin-bottom: 40px;
}

.footer-logo {
    max-width: 1140px;
    margin: 0 auto;
}

.footer-logo img {
    width: 160px;
    padding-top: 35px;
    float: right
}

.footer-social {
    max-width: 1140px;
    margin: 0 auto;
}

.footer-social i {
    float: left;
    font-size: 22px;
    padding-top: 35px;
    padding-right: 10px;
}

/*Custom tab style*/

@media screen and (min-width: 1025px) {
.ult_tabmenu.style1 li.ult_tab_li {
    display: inline-block;
    position: relative;
    float: left;
    list-style: none;
    overflow: hidden;
    margin-left: 73px !important;
    padding: 0;
}

.ult_tabmenu.style1{
    height: 66px !important;
}

.ult_tabmenu.style1 li.ult_tab_li {
  
    border-radius: 40px !important;
    border-width: 1px !important;
    border-color: black !important;
}

.ult_tabmenu.style1 a.ult_a{

    height: 64px !important;
}


span.ult-span-text {
 
    line-height: 2.8em !important;
}

ul.ult_tabmenu.style1.active::before {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    left: 28%;
    right: 1px;
    height: 1px;
    border-top-width: 2px;
    border-top-style: solid;
    border-color: #e5e5e5;
}

li.ult_tab_li.other_tab {
    width: 68px;
}
}

/*Custom blog style*/

.blog .entry-featured {
    position: relative;
    max-width: 25%;
    margin-top: 25px;
    float: right;
    padding-left: 15px;
    padding-top: 6px;
    background-color: #fff;
    border: none;
}

.blog .entry-thumb {
    background-color: transparent !important;
}

.blog .entry-thumb img {
    border-radius: 100px;
}

/*lawyer header styles*/

.main_banner_wrap {
    min-height: 300px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #dbdbdb;
}

.inside-content {
    max-width: 1140px;
    margin: 0 auto;
}

.inside-content img {
    height: 240px;
    margin-top: 28px;
    float: right;
    margin-left: 30px;
    margin-right: 85px;
    border-radius: 200px;
}

.inside-content li {
    display: inherit;
    line-height: 1.9;
    color: #969696;
}

li.lawyer_name {
    padding-top: 30px;
    font-size: xx-large;
    color: #7C1518;
}

li.lawyer_position {
    font-size: large;
    margin-top: -14px;
    margin-bottom: 20px;
    color: #969696
}

.inside-content i.fa.fa-map-marker{
    float: right;
    margin-top: 5px;
    margin-left: 15px;
    font-size: large;
    color: #7C1518;
}

.inside-content i.fa.fa-mobile{
    float: right;
    margin-top: 2px;
    margin-left: 15px;
    margin-right: 1px;
    font-size: 22px;
    color: #7C1518;
}

.inside-content i.fa.fa-print {
    margin-left: 15px;
    margin-right: 25px;
    font-size: 18px;
    color: #7C1518;
}

.inside-content i.fa.fa-envelope-o {
    float: right;
    margin-left: 8px;
    margin-top: 5px;
    font-size: 16px;
    color: #7C1518;
}

.inside-content i.fa.fa-globe {
    float: right;
    margin-left: 11px;
    margin-top: 4px;
    font-size: 17px;
    color: #7C1518;
}

/*main pages top banners*/

.top_banner_wrap {
    width: 100%;
}

.top_banner_wrap img {
    position: relative;
    height: 350px;
    width: 100%;
}

.top_banner_wrap h2 {
    position: absolute;
    top: 235px;
    left: 0px;
    width: 100%;
    text-align: center;
    font-size: 72px;
    font-weight: 300;
    color: #fff;
}

/*newsletter subscription area*/

.newsletter-widget-wrap {
    border-top: 2px solid #f2f2f2;
}

.newsletter-widget {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

/*make newsletter form inline & additional styling*/

.x-subscribe-form {
    max-width: 700px !important;
}

.x-subscribe-form fieldset {
    display: inline;
}

.x-subscribe-form input[type="submit"] {
    margin-top: -5px !important;
    height: 55px;
    width: 130% !important;
    background-color: transparent;
    color: #7c1518;
    border: 1px solid #7c1518;
    border-radius: 30px;
    text-shadow: none !important;
    box-shadow: none;
}

.x-subscribe-form fieldset {
    vertical-align: top;
    padding-left: 10px;
}

.x-subscribe-form input[type="text"], .x-subscribe-form input[type="email"] {
    margin-left: 50px;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
}

div#x-section-1 {
    padding: 30px 0;
}

/*events styling*/

.em-booking-form-details {
    float: right;
}

.em-booking-form label {
    float: right;
}

ul.event-categories {
    list-style: none;
}

.event-gallery {
    display: inline-block;
    width: 100%;
}

.em-booking-form-details .em-booking-submit {
    margin-top: -5px !important;
    width: 73% !important;
    background-color: transparent;
    color: #7c1518;
    border: 1px solid #7c1518;
    border-radius: 30px;
    text-shadow: none !important;
    box-shadow: none;
}

.em-booking-form-details .em-booking-submit:hover {
    color: #ffffff;
    border-color: #600900;
    background-color: #ef2201;
    margin-bottom: 0.25em;
    box-shadow: none;
}

.em-search-submit {
    position: relative !important;
    float: left !important;
    top: 0 !important;
    right: 0 !important;
    -moz-box-shadow: 0px 0px 0px 0px #ffffff;
    -webkit-box-shadow: 0px 0px 0px 0px #ffffff;
    box-shadow: 0px 0px 0px 0px #ffffff;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b7d282), color-stop(1, #8eb56d) );
    background: -moz-linear-gradient( center top, #b7d282 5%, #8eb56d 100% );
    background-color: #b7d282;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: #ffffff;
    font-weight: bold;
    padding: 8px 10px;
    text-decoration: none;
    text-shadow: 1px 1px 0px #c7c5c7;
    line-height: 16px;
}

div.css-search div.em-search-advanced label {
    display: block;
    float: right;
    min-width: 100px;
}

.em-calendar-wrapper {
    border: 1px solid #dbdbdb;
    padding: 10px;
    background-color: #fafafa;
}

table.em-calendar {
    margin: 0;
}

#em_widget-2 ul li {
    border-bottom: 0;
}

#em-wrapper h4 {
    margin-bottom: 4%;
    font-weight: 300;
}

div.css-search div.em-search-text {
    margin: 0px 0px 0px 0px;
    padding-left: 0px;
    background: none !important;
}

div.css-search div.em-search-geo {
    margin: 0px 0px 0px 0px;
    padding-left: 0px;
    background: none !important;
}

div.css-search {
    background: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 0px;
    padding: 0px;
    min-height: 40px;
    position: relative;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
}

.em-events-search-text.em-search-text {
    border-left: 1px solid #dbdbdb !important;
    line-height: 1.5 !important;
}

input.em-search-geo {
    line-height: 1.5 !important;
}

div.css-search.has-search-geo.has-search-term input.em-search-text, div.css-search.has-search-geo.has-search-term input.em-search-geo {
    width: 46% !important;
}

div.css-search.has-advanced div.em-search-main {
    padding-bottom: 0px;
    border-bottom: 1px solid #dedede;
}


.em-search-text.em-search-field > i {
    padding-right: 10px;
    font-size: 18px;
    color: #7c1518;
}

.em-search-geo.em-search-field > i {
    padding-right: 10px;
    font-size: 18px;
    color: #7c1518;
}

form.em-events-search-form.em-search-form {
    margin: 0;
    line-height: 2;
}

span.show-advanced, span.hide-advanced {
    font-size: initial !important;
}

span.show-advanced:before {
    content: "\f067";
    margin-left: 10px;
    font-family: "FontAwesome" !important;
    font-size: 18px;
    padding-right: 3px;
}

span.hide-advanced:before {
    content: "\f068";
    margin-left: 9px;
    font-family: "FontAwesome" !important;
    font-size: 18px;
    padding-right: 3px;
}

.em-search-submit {
    display: block !important;
    border: 1px solid !important;
    border-radius: 50px !important;
    text-align: center !important;
    padding-top: 1px !important;
    font-size: 15px !important;
    top: 10px !important;
    width: 80px !important;
    height: 30px !important;
    margin-bottom: 20px !important;
    background: none !important;
    
}

[type="submit"] {
    color: #7c1518 !important;
    border-color: #7c1518 !important;
    background-color: transparent !important;
    margin-bottom: 0.25em;
    text-shadow: none !important;
    box-shadow: none !important;
    border-radius: 50px !important;
    font-weight: 400;
    font-size: 16px;
}

table.events-table thead tr {
    background-color: #7c1518 !important;
    color: #fff;
}

table.events-table tr:nth-child(odd) {
    background-color: #fafafa;
}

@media screen and (max-width: 1024px) {
    .em-search-wrapper {
    display: none;
}
    #em-wrapper h4 {
    display: none;
}
}
    
/*career style changes*/

.single_job_listing .application .application_details {
    clear: both;
    border: 1px solid #eee;
    padding: 25px;
    margin: 1em 0;
    line-height: 1.5em;
    display: block;
    position: relative;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

ul.job_listings li.job_listing a img.company_logo {
    width: 42px;
    height: 42px;
    position: relative;
    left: 1em;
    float: right;
    margin-right: 0;
    vertical-align: middle;
    box-shadow: none;
}

ul.job_listings li.job_listing a div.position {
    float: right;
    padding: 0 0 0 42px;
    line-height: 1.5em;
}

ul.job_listings li.job_listing a div.location {
    float: right;
    text-align: right;
    width: 25%;
    padding: 0 0 0 1em;
    color: #999;
    line-height: 1.5em;
}

ul.job_listings li.job_listing a ul.meta {
    float: left;
}

.job_filters .search_jobs div.search_keywords {
    float: right;
    padding-left: .5em;
    width: 50%;
}

.job_filters .search_jobs div.search_location {
    float: left;
    padding-right: .5em;
    width: 50%;
}

.job_filters .job_types {
    float: right;
    width: 100%;
    display: flex;
}

.job_filters .showing_jobs {
    display: none !important;
}


/*WP Accessibility styling*/

.a11y-toolbar-widget {
    float: right;
}

.a11y-toolbar-widget ul li {
    display: inline;
    padding-left: 10px;
    font-size: 120%;
}

span.offscreen {
    display: none;
}

/*lawyer search styling*/

.theme_8 {
    display:none;
}

/*lawyer page hide breadcrumbs*/

.lawyer-page header.x-header-landmark {
    display: none;
}

/*lawyer sidebar styling*/

.lawyer-sidebar {
    width: 270px;
    float: left;
    padding-right: 20px;
    margin-top: 40px;
}

.lawyer-cite {
    text-align: center;
    border-style: double none;
    border-width: 3px;
    border-color: #dbdbdb;
        padding: 9% 8%;
}

.lawyer-cite span.cite-text {
    font-size: 16px;
    color: #969696;
}

.lawyer-cite span.cite-name {
    font-size: 14px;
    color: #7c1518;
    display: block;
    padding-top: 5%;
}

.lawyer-services h4 {
    padding-bottom: 4%;
    border-bottom: double 3px;
    border-color: #dbdbdb;
}

.lawyer-sectors h4 {
    padding-bottom: 4%;
    border-bottom: double 3px;
    border-color: #dbdbdb;
}

.lawyer-services ul li {
    border-bottom: solid 1px #dbdbdb;
    line-height: 2.8;
    padding: 5px;
}

.lawyer-services ul li:after {
    content: '\f177';
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin: 0px 0px 0px 0px;
    text-decoration: none;
    float: left;
}

.lawyer-services ul li:hover {
    border-bottom: solid 1px #dbdbdb;
    line-height: 2.8;
    padding: 5px;
    background-color: #f4f4f4;
}

.lawyer-sectors ul li {
    border-bottom: solid 1px #dbdbdb;
    line-height: 2.8;
    padding: 5px;
}

.lawyer-sectors ul li:after {
    content: '\f177';
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    margin: 0px 0px 0px 0px;
    text-decoration: none;
    float: left;
}

.lawyer-sectors ul li:hover {
    border-bottom: solid 1px #dbdbdb;
    line-height: 2.8;
    padding: 5px;
    background-color: #f4f4f4;
}

/*lawyer tabs*/

ul.x-nav.x-nav-tabs.lawyer-tabs.five-up.top {
    border: none;
}

.x-nav-tabs.five-up>li {
    float: right;
}

.x-nav-tabs>li {
    text-align: right;
}

.lawyer-tabs li.x-nav-tabs-item {
    border-right: none;
}

.lawyer-tabs.top>li a {
    border-bottom: double 3px #dbdbdb;
}

.lawyer-tabs.top>.active>a, .lawyer-tabs.top>.active>a:hover {
    border-bottom: double 3px #7c1518;
}

.lawyer-tabs>li>a {
    padding: 0.75em 0.75em 0.95em;
    font-size: 14px;
    line-height: 1.3;
    color: #d8d8d8;
    background-color: transparent;
}

.x-tab-content.lawyer-tabs {
    border: none;
}

.x-tab-content .x-tab-pane {
    padding: 4% 0;
}

/*footer contacts styling and responsiveness*/

.x-column.x-md.x-1-3.last div {
    width: 170px;
    display: inline-block;
}

/*homepage carousel

#wonderplugincarousel-2 .amazingcarousel-image {
    position: relative;
    padding: 0px;
    height: 200px;
    width: 300px;
}
        
#wonderplugincarousel-2 .amazingcarousel-image img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

li.amazingcarousel-item {
    width: 300px !important;
    margin-right: 53px !important;
}

.amazingcarousel-list-container {
    width: 1140px;
}
*/

/*law sector/service page*/

.expert-headline {
    display: inline-block;
}

.expert-headline-name {
    display: flex;
}

.expert-headline p {
    padding-top: 5px;
    color: #7c1518;
    margin-bottom: 0;
}

.expert-headline-name p {
    padding-right: 10px;
    margin-bottom: 0;
    font-size: 16px;
}

.x-accordion.law-accordion {
    margin-top: 25px;
}

.law-accordion .x-accordion-heading {
    border: 1px solid #e9e9e9;
}

.law-accordion .x-accordion-group {
    border: 0;
    margin-bottom: 15px
}

.law-accordion .x-accordion-inner {
    border-top: 0;
}

.law-accordion .x-accordion-heading .x-accordion-toggle {
    background-color: #f4f4f4;
}

.law-accordion .x-accordion-heading .x-accordion-toggle.collapsed {
    background-color: #f4f4f4;
}

.law-accordion .x-accordion-heading .x-accordion-toggle:hover {
    background-color: none;
}

.law-accordion .x-accordion-heading .x-accordion-toggle:before {
    display: none;
}

.x-block-grid.four-up img {
    -webkit-filter: grayscale(100%);
    opacity: 0.6;
}

.x-nav-tabs.four-up>li {
    float: right;
}

ul.x-nav.x-nav-tabs.lawyer-tabs.four-up.top {
    border: none;
}